.bg-container{
  display: flex;
  align-items: center;
justify-content: center;
height: 100vh;
flex-direction: column;
}
.form{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.heading{
  font-family: 'Roboto';
}
.lable{
  margin-top: 20px;
}
.button{
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}